.body {
  margin: auto;
  max-width: 1000px;
}

header {
  position: relative;
  margin: auto;
  max-width: 800px;
  height: 100px;
  font-family: "Abril Fatface", sans;
  color: #222;
  margin-bottom: 200px;
}

header img {
  margin: auto;
  max-width: 100%;
}

header h1 {
  position: absolute;
  top: 125px;
  left: 150px;
}

header h3 {
  position: absolute;
  top: 170px;
  left: 150px;
  font-size: 50px;
  margin: 0;
}

blockquote::before {
  content: open-quote;
  position: absolute;
  top: 0px;
  left: 0px;
  /*text-align: center;*/
}

blockquote {
  display: flex;
  position: relative;
  font-size: 2em;
  align-items: center;
  max-width: 600px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background: grey;
  font-family: "Abril Fatface", sans-serif;
  color: white;
  padding: 40px;
  /*text-align: center;*/
}

p {
  font-family: "Merriweather", italic;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  max-width: 520px;
  text-align: justify;
}

ul {
  font-family: "Merriweather", sans-serif;
  font-size: 15px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: square;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  font-family: "Josefin Sans", sans-serif;
  max-width: 520px;
  text-align: justify;
}

footer {
  font-family: "Josefin Sans", sans-serif;
}

footer div {
  height: 2px;
  background: black;
  width: 600px;
  margin: 20px auto;
}